In [1]:
import pandas as pd

In [2]:
change_info = pd.read_csv("./train/change_info.csv")

In [3]:
# 45940 - 45216 去重
change_info = change_info.drop_duplicates()

In [4]:
# 添加一列计数
change_info["cnt"] = 1

In [13]:
temp = change_info[["id", "cnt"]].groupby("id").count()

temp = temp.rename(columns={"cnt":"count_change"})

def change_fea(x):
    if x>5:
        return 2
    else:
        return 1

# 对计数特征进行分箱
temp["count_change"] = temp["count_change"].apply(change_fea)

In [16]:
change_fea = change_info.id.drop_duplicates().reset_index(drop=True)

In [17]:
change_fea = pd.merge(change_fea,temp,how="left",on="id")

In [19]:
change_fea

                                                    id  count_change
0     9c7fa510616a683058ce97d0bc768a621cd85ab1e87da2a3             1
1     e9f7b28ec10e047000d16ab79e1b5e6da434a1697cce7818             1
2     f000950527a6feb63ee1ce82bb22ddd1ab8b8fdffa3b91fb             1
3     216bd2aaf4d07924b4a106be25791281e2a6d9e54eaee13b             1
4     743e550a617316d5772a00182284976e17d42b6f0ca6d374             1
...                                                ...           ...
8721  d8071a739aa75a3b2cf30bec1c008a658963648897cb375b             1
8722  f000950527a6feb6de489447885cd6d18f593ec2674174ac             1
8723  f1c1045b13d18329a2bd99d2a7e2227688c0d69bf1d1e325             2
8724  da8691b210adb3f65b43370d3a362f4aa1d3b16b5ba0c9d7             1
8725  9c7fa510616a68303d3427d4bfd4b0cf3e4843f2bf3f637a             1

[8726 rows x 2 columns]