In [1]:
import pandas as pd

In [2]:
# 基本信息
base_info = pd.read_csv("./train/base_info.csv")
print("基本信息有" + str(len(base_info)) + "条")

基本信息有24865条

In [3]:
# 年报基本信息
annual_report_info = pd.read_csv("./train/annual_report_info.csv")
len(annual_report_info)

22550

In [4]:
# 纳税信息
tax_info = pd.read_csv("./train/tax_info.csv")
len(tax_info)

29195

In [5]:
# 变更信息
change_info = pd.read_csv("./train/change_info.csv")
len(change_info)

45940

In [6]:
# 新闻舆情信息
news_info = pd.read_csv("./train/news_info.csv")
len(news_info)

10518

In [7]:
# 其他信息
other_info = pd.read_csv("./train/other_info.csv")
len(other_info)

1890

In [8]:
# id + 标签
entprise_info = pd.read_csv("./train/entprise_info.csv")
len(entprise_info)

14865

In [9]:
# id + 标签(Null) 
entprise_evaluate = pd.read_csv("./entprise_evaluate.csv")
print("有标签数据和无标签数据一共有" + str(len(entprise_evaluate)+len(entprise_info)) + "条")

有标签数据和无标签数据一共有24865条

In [10]:
# 查看是否有重复值
temp = annual_report_info[annual_report_info["id"]=="f000950527a6feb6894cbac48e230ffc6be49aeb4e018dfd"]

# 有重复数据
temp.duplicated()

5895    False
5896     True
5897    False
5898     True
5899    False
5900     True
5901    False
5902     True
dtype: bool

In [11]:
# 年报基本信息进行去重操作
annual_report_info = annual_report_info.drop_duplicates()

In [12]:
# 去除纳税信息中的重复值
tax_info = tax_info.drop_duplicates()

In [13]:
# 去除变更信息种的重复值
change_info = change_info.drop_duplicates()

In [14]:
# 去除新闻舆情信息中的重复值
news_info = news_info.drop_duplicates()

In [15]:
base_info.dtypes

id                object
oplocdistrict      int64
industryphy       object
industryco       float64
dom               object
opscope           object
enttype            int64
enttypeitem      float64
opfrom            object
opto              object
state              int64
orgid              int64
jobid              int64
adbusign           int64
townsign           int64
regtype            int64
empnum           float64
compform         float64
parnum           float64
exenum           float64
opform            object
ptbusscope       float64
venind           float64
enttypeminu      float64
midpreindcode    float64
protype          float64
oploc             object
regcap           float64
reccap           float64
forreccap        float64
forregcap        float64
congro           float64
enttypegb          int64
dtype: object

In [16]:
# 将base_info和label进行连接，label为空的是测试集
data = pd.merge(base_info, entprise_info, on="id", how="left")

In [17]:
data['opfrom'] = pd.to_datetime(data['opfrom'],format='%Y-%m-%d')
data['opto'] = pd.to_datetime(data['opto'],format='%Y-%m-%d')
#构造时间特征
data['DateDT'] = data['opto'] - data["opfrom"]

In [18]:
# 使用目标编码对industryphy列进行训练
from category_encoders import TargetEncoder  
enc = TargetEncoder()  
data["industryphy"] = enc.fit_transform(data["industryphy"], data["label"])

c:\users\yuanyi\anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [19]:
# 使用目标编码对opform列进行训练
from category_encoders import TargetEncoder  
enc = TargetEncoder()  
data["opform"] = enc.fit_transform(data["opform"], data["label"])

c:\users\yuanyi\anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [20]:
# 使用目标编码对opform列进行训练
from category_encoders import TargetEncoder  
enc = TargetEncoder()  
data["oploc"] = enc.fit_transform(data["oploc"], data["label"])

c:\users\yuanyi\anaconda3\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [21]:
# 根据是否有标签分为训练集和测试集
train = data[data.label.notnull()].reset_index(drop=True)
test = data[data.label.isnull()].reset_index(drop=True)

In [23]:
annual_report_info.dtypes

id                object
ANCHEYEAR        float64
STATE            float64
FUNDAM           float64
MEMNUM           float64
FARNUM           float64
ANNNEWMEMNUM     float64
ANNREDMEMNUM     float64
EMPNUM           float64
EMPNUMSIGN       float64
BUSSTNAME         object
COLGRANUM        float64
RETSOLNUM        float64
DISPERNUM        float64
UNENUM           float64
COLEMPLNUM       float64
RETEMPLNUM       float64
DISEMPLNUM       float64
UNEEMPLNUM       float64
WEBSITSIGN       float64
FORINVESTSIGN    float64
STOCKTRANSIGN    float64
PUBSTATE         float64
dtype: object

In [24]:
annual_report_info.id.value_counts()

e9f7b28ec10e047005eec1a07b716d63fac8742cbdeacd46    6
f000950527a6feb6db4240bbef2e9513873ad872c18ec85c    5
f000950527a6feb6116bfa8bf1f2211ed7e50671f97c8590    5
f000950527a6feb6f9313307704a8e112e246db8d331cc37    5
f000950527a6feb658845d24e08f4361ec0f9e651166a365    5
                                                   ..
516ab81418ed215d5171762296da979b97e196ee7716fedc    1
47645761dc56bb8c95853cdfd1d1b17c547399704dfefe07    1
755db3b5c5f74eb44acd3a82b2a01aa4318082f7b1a3481d    1
f000950527a6feb697b489fa5f300b53e8fa86aa5ac7bf47    1
516ab81418ed215dbde381d96aa9c571609def7b37e4161a    1
Name: id, Length: 8937, dtype: int64

In [26]:
annual_report_info[annual_report_info.id == "e9f7b28ec10e047005eec1a07b716d63fac8742cbdeacd46"]

,id,ANCHEYEAR,STATE,FUNDAM,MEMNUM,FARNUM,ANNNEWMEMNUM,ANNREDMEMNUM,EMPNUM,EMPNUMSIGN,...,DISPERNUM,UNENUM,COLEMPLNUM,RETEMPLNUM,DISEMPLNUM,UNEEMPLNUM,WEBSITSIGN,FORINVESTSIGN,STOCKTRANSIGN,PUBSTATE
22465,e9f7b28ec10e047005eec1a07b716d63fac8742cbdeacd46,2015.0,2.0,NaN,NaN,NaN,NaN,NaN,3.0,2.0,...,0.0,1.0,3.0,1.0,0.0,1.0,2.0,2.0,2.0,3.0
22466,e9f7b28ec10e047005eec1a07b716d63fac8742cbdeacd46,2016.0,2.0,NaN,NaN,NaN,NaN,NaN,5.0,1.0,...,0.0,0.0,1.0,2.0,0.0,0.0,2.0,2.0,2.0,2.0
22467,e9f7b28ec10e047005eec1a07b716d63fac8742cbdeacd46,2018.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,3.0
22468,e9f7b28ec10e047005eec1a07b716d63fac8742cbdeacd46,2017.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,3.0
22469,e9f7b28ec10e047005eec1a07b716d63fac8742cbdeacd46,2017.0,2.0,NaN,NaN,NaN,NaN,NaN,5.0,2.0,...,1.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,3.0
22470,e9f7b28ec10e047005eec1a07b716d63fac8742cbdeacd46,2018.0,2.0,NaN,NaN,NaN,NaN,NaN,3.0,2.0,...,0.0,0.0,1.0,2.0,0.0,0.0,2.0,2.0,2.0,3.0

In [27]:
annual_report_info.isnull().any()

id               False
ANCHEYEAR        False
STATE             True
FUNDAM            True
MEMNUM            True
FARNUM            True
ANNNEWMEMNUM      True
ANNREDMEMNUM      True
EMPNUM            True
EMPNUMSIGN        True
BUSSTNAME         True
COLGRANUM         True
RETSOLNUM         True
DISPERNUM         True
UNENUM            True
COLEMPLNUM        True
RETEMPLNUM        True
DISEMPLNUM        True
UNEEMPLNUM        True
WEBSITSIGN        True
FORINVESTSIGN     True
STOCKTRANSIGN     True
PUBSTATE          True
dtype: bool

In [28]:
annual_report_info["EMPNUMSIGN"].value_counts()

2.0    13991
1.0     2743
Name: EMPNUMSIGN, dtype: int64

In [29]:
annual_report_info["BUSSTNAME"].value_counts()

开业    16530
歇业      707
停业      320
清算       21
Name: BUSSTNAME, dtype: int64

In [31]:
# 其中高校毕业生人数经营者
annual_report_info["COLGRANUM"].value_counts().sort_index()

0.0      12597
1.0       3966
2.0       1840
3.0        707
4.0        204
5.0        309
6.0         54
7.0         28
8.0         58
9.0         16
10.0        52
11.0         7
12.0        16
13.0        12
14.0         4
15.0        20
16.0        10
17.0         1
18.0         4
19.0         2
20.0        19
21.0         1
22.0         1
23.0         3
24.0         1
25.0         2
26.0         1
28.0         2
29.0         2
30.0         3
31.0         1
36.0         3
41.0         3
50.0         1
51.0         1
56.0         1
70.0         2
77.0         1
80.0         1
119.0        1
302.0        1
408.0        1
660.0        1
Name: COLGRANUM, dtype: int64

In [33]:
# 其中退役士兵人数经营者
annual_report_info["RETSOLNUM"].value_counts().sort_index()

0.0      19241
1.0        572
2.0         98
3.0         17
4.0         10
5.0          6
6.0          2
7.0          4
8.0          2
10.0         1
11.0         1
15.0         4
32.0         1
120.0        1
Name: RETSOLNUM, dtype: int64

In [34]:
# DISPERNUM
annual_report_info["DISPERNUM"].value_counts().sort_index()

0.0    19652
1.0      283
2.0       20
3.0        3
5.0        2
Name: DISPERNUM, dtype: int64

In [35]:
# 其中下岗失业人数经营者
annual_report_info["UNENUM"].value_counts().sort_index()

0.0      17529
1.0       1380
2.0        566
3.0        181
4.0         70
5.0         60
6.0         33
7.0         17
8.0         18
9.0          7
10.0        21
11.0         6
12.0        14
13.0         7
14.0         2
15.0         6
16.0         7
17.0         8
18.0         4
20.0         1
22.0         1
23.0         2
24.0         1
25.0         3
27.0         2
30.0         4
32.0         1
40.0         1
45.0         1
60.0         2
85.0         1
103.0        1
105.0        1
109.0        1
205.0        1
Name: UNENUM, dtype: int64

In [36]:
# 其中高校毕业生人数雇员
annual_report_info["RETEMPLNUM"].value_counts().sort_index()

0.0     19233
1.0       462
2.0       126
3.0        28
4.0         9
5.0        31
6.0        10
7.0         4
8.0         7
9.0         2
10.0       10
11.0        2
12.0        2
13.0        3
14.0        2
15.0       12
18.0        1
19.0        1
20.0        3
22.0        1
25.0        4
29.0        1
30.0        2
35.0        1
41.0        1
80.0        2
Name: RETEMPLNUM, dtype: int64

In [40]:
# 其中残疾人人数雇员
annual_report_info["DISEMPLNUM"].value_counts().sort_index()

0.0     19558
1.0       316
2.0        33
3.0        10
4.0         8
5.0        16
6.0         4
7.0         4
8.0         4
10.0        1
11.0        1
13.0        1
15.0        1
20.0        1
41.0        1
42.0        1
Name: DISEMPLNUM, dtype: int64

In [41]:
# 其中下岗失业人数雇员
annual_report_info["UNEEMPLNUM"].value_counts().sort_index()

0.0      17326
1.0        848
2.0        553
3.0        313
4.0        194
         ...
150.0        2
164.0        1
205.0        1
279.0        1
340.0        1
Name: UNEEMPLNUM, Length: 72, dtype: int64

In [42]:
# 其中下岗失业人数雇员
annual_report_info["WEBSITSIGN"].value_counts().sort_index()

1.0      821
2.0    21594
Name: WEBSITSIGN, dtype: int64

In [43]:
annual_report_info["FORINVESTSIGN"].value_counts().sort_index()

1.0      963
2.0    15428
Name: FORINVESTSIGN, dtype: int64

In [44]:
annual_report_info["MEMNUM"].value_counts().sort_index()

5.0     8
6.0     8
7.0     4
10.0    5
11.0    4
Name: MEMNUM, dtype: int64

In [49]:
annual_report_info["STOCKTRANSIGN"].value_counts().sort_index()

1.0      721
2.0    12701
Name: STOCKTRANSIGN, dtype: int64

In [50]:
annual_report_info["PUBSTATE"].value_counts().sort_index()

1.0     1211
2.0     4083
3.0    17134
Name: PUBSTATE, dtype: int64