In [1]:
import pandas as pd

In [2]:
# 读取新闻数据
news_info = pd.read_csv("./train/news_info.csv")

In [3]:
def encode(x):
    if x=="积极":
        return 1
    if x=="中立":
        return 0
    else:
        return -1
    
news_info["positive_negtive"] = news_info["positive_negtive"].apply(encode)

In [4]:
temp = news_info[["id", "positive_negtive"]].groupby("id").sum()

temp = temp.rename(columns={"positive_negtive":"news_count"})

In [5]:
temp

                                                  news_count
id
09912c34159b1720558a419983a989f1dd2e0ed69a044ca3           0
175ebe5f059ec050afbd65251ecdd3b512bfbe5e62d041b0           4
216bd2aaf4d079240c3ac0b76f0ef4aa355d443880ba78db           2
216bd2aaf4d079240f5823e63d24b44dd2c58e3281b822f6           0
216bd2aaf4d0792410725ba5e7ca1dc32ce55767372f2030          -1
...                                                      ...
f000950527a6feb6fddefb42e3c3dc1932fc8c5fae14afbb           0
f000950527a6feb6fe8f4850e9eb04e8ba3fa3b409725ef3           7
f000950527a6feb6ff749dc50c7bf46b37b74e36ce38d1a4          -1
f000950527a6feb6ff7cdb55f5e64a477c499dd75137ae6b           2
f000950527a6feb6ff839cdf509ebb7631857e6e363fedd6          -1

[927 rows x 1 columns]

In [6]:
def news_fea(x):
    if x>0:
        return 1
    elif x<0:
        return -1
    else:
        return 0

# 对计数特征进行分箱
temp["news_count"] = temp["news_count"].apply(news_fea)

In [7]:
# 提取新闻数据id
news_fea = news_info.id.drop_duplicates().reset_index(drop=True)

In [8]:
news_fea

0      f000950527a6feb62669d6a175fe6fdccd1eb4f7ca8e5016
1      f000950527a6feb6e8bd9919e2ca363359bcfa997a0f9de7
2      d8071a739aa75a3bcf6fb0041ee883243251d30025ab9d45
3      f000950527a6feb6d71de3382afa0bc5ff87bb65477f698a
4      f000950527a6feb65929509d9be855bf75b7337d4465843e
                             ...
922    d8071a739aa75a3be6f3e200fd5532cb96764b8f4623c75a
923    f000950527a6feb69ea351e48351a711fb09bf1b83f04dfc
924    e9f7b28ec10e047005eec1a07b716d63fac8742cbdeacd46
925    d8071a739aa75a3b6860158ec0cc8ba7972fb14ba37b9e0a
926    f000950527a6feb6de489447885cd6d18f593ec2674174ac
Name: id, Length: 927, dtype: object

In [9]:
news_fea = pd.merge(news_fea,temp,how="left",on="id")

In [10]:
news_fea

                                                   id  news_count
0    f000950527a6feb62669d6a175fe6fdccd1eb4f7ca8e5016           1
1    f000950527a6feb6e8bd9919e2ca363359bcfa997a0f9de7          -1
2    d8071a739aa75a3bcf6fb0041ee883243251d30025ab9d45           0
3    f000950527a6feb6d71de3382afa0bc5ff87bb65477f698a           1
4    f000950527a6feb65929509d9be855bf75b7337d4465843e           1
..                                                ...         ...
922  d8071a739aa75a3be6f3e200fd5532cb96764b8f4623c75a           0
923  f000950527a6feb69ea351e48351a711fb09bf1b83f04dfc           0
924  e9f7b28ec10e047005eec1a07b716d63fac8742cbdeacd46           0
925  d8071a739aa75a3b6860158ec0cc8ba7972fb14ba37b9e0a           1
926  f000950527a6feb6de489447885cd6d18f593ec2674174ac          -1

[927 rows x 2 columns]