In [1]:
import pandas as pd

In [2]:
other_info = pd.read_csv("./train/other_info.csv")

In [3]:
other_info

,id,legal_judgment_num,brand_num,patent_num
0,f000950527a6feb6d340f91da09e61347d8200cd2f0d1602,4.0,NaN,NaN
1,f000950527a6feb608dd9322b74a99f60851207f36a3c94c,1.0,NaN,NaN
2,d8071a739aa75a3b9f23966f8dae78fd226c272515b9c255,2.0,NaN,NaN
3,216bd2aaf4d079242209b1496f81a36c7abed9dd0bb65ed3,NaN,1.0,NaN
4,e9f7b28ec10e0470de9631c789f49acdd4e7cf9ed6db094b,NaN,2.0,NaN
...,...,...,...,...
1885,47645761dc56bb8cf147c0f51d60cfe28fd995aaca7693d9,6.0,NaN,NaN
1886,f000950527a6feb69ea351e48351a711fb09bf1b83f04dfc,1.0,NaN,NaN
1887,d8071a739aa75a3b39130af3718b2f261b57833a6a58ba55,2.0,1.0,NaN
1888,d8071a739aa75a3b6860158ec0cc8ba7972fb14ba37b9e0a,1.0,NaN,NaN
1889,f000950527a6feb6de489447885cd6d18f593ec2674174ac,40.0,NaN,NaN

In [4]:
# 无重复数据
other_info = other_info.drop_duplicates()

In [5]:
other_info["legal_judgment_num"].value_counts()

1.0      282
2.0      175
3.0       93
4.0       66
5.0       55
        ...
37.0       1
128.0      1
76.0       1
80.0       1
90.0       1
Name: legal_judgment_num, Length: 93, dtype: int64

In [6]:
other_info["brand_num"].value_counts()

1.0      311
2.0      180
3.0       85
4.0       58
5.0       36
        ...
38.0       1
199.0      1
200.0      1
361.0      1
421.0      1
Name: brand_num, Length: 82, dtype: int64

In [7]:
other_info["patent_num"].value_counts().sort_index()

1.0       29
2.0       40
3.0       23
4.0       14
5.0       13
          ..
353.0      1
358.0      1
545.0      1
1034.0     1
1087.0     1
Name: patent_num, Length: 114, dtype: int64

In [8]:
other_info.id.value_counts().sort_values()

f000950527a6feb6a1def3df88e9d0a575dc289ade52d993    1
d8071a739aa75a3bd7f5d469f00cbfa5af2b4b2286d1ba94    1
82750f1b9d122350d2d6c2a325672973662ac52491ead1ad    1
82750f1b9d12235077302d6e09e30ea68822268f41a37f90    1
f000950527a6feb63caf6cbe19d99ce3b9e044dd01e76fff    1
                                                   ..
d8071a739aa75a3bb26e8184182ef24c1b5b9d573165561e    1
f000950527a6feb64bbea252237f7a0c2108e4090115ece2    1
82750f1b9d1223500d60e29d349d05a58e7619b909c95503    1
e9f7b28ec10e04707ba878b89e6c2d362b107a817342f9c6    2
f000950527a6feb63702b1f6c1dabe5ea196d320bbbff425    2
Name: id, Length: 1888, dtype: int64

In [9]:
other_info[other_info.id=="f000950527a6feb63702b1f6c1dabe5ea196d320bbbff425"]

,id,legal_judgment_num,brand_num,patent_num
1119,f000950527a6feb63702b1f6c1dabe5ea196d320bbbff425,27.0,68.0,77.0
1120,f000950527a6feb63702b1f6c1dabe5ea196d320bbbff425,27.0,70.0,77.0

In [10]:
other_info[other_info.id=="e9f7b28ec10e04707ba878b89e6c2d362b107a817342f9c6"]

,id,legal_judgment_num,brand_num,patent_num
835,e9f7b28ec10e04707ba878b89e6c2d362b107a817342f9c6,2.0,9.0,8.0
836,e9f7b28ec10e04707ba878b89e6c2d362b107a817342f9c6,12.0,9.0,8.0

In [11]:
# 删除4条错误数据
other_info = other_info.drop(index=(other_info.loc[(other_info["id"] == "f000950527a6feb63702b1f6c1dabe5ea196d320bbbff425")].index))

other_info = other_info.drop(index=(other_info.loc[(other_info["id"] == "e9f7b28ec10e04707ba878b89e6c2d362b107a817342f9c6")].index))

In [12]:
other_info

,id,legal_judgment_num,brand_num,patent_num
0,f000950527a6feb6d340f91da09e61347d8200cd2f0d1602,4.0,NaN,NaN
1,f000950527a6feb608dd9322b74a99f60851207f36a3c94c,1.0,NaN,NaN
2,d8071a739aa75a3b9f23966f8dae78fd226c272515b9c255,2.0,NaN,NaN
3,216bd2aaf4d079242209b1496f81a36c7abed9dd0bb65ed3,NaN,1.0,NaN
4,e9f7b28ec10e0470de9631c789f49acdd4e7cf9ed6db094b,NaN,2.0,NaN
...,...,...,...,...
1885,47645761dc56bb8cf147c0f51d60cfe28fd995aaca7693d9,6.0,NaN,NaN
1886,f000950527a6feb69ea351e48351a711fb09bf1b83f04dfc,1.0,NaN,NaN
1887,d8071a739aa75a3b39130af3718b2f261b57833a6a58ba55,2.0,1.0,NaN
1888,d8071a739aa75a3b6860158ec0cc8ba7972fb14ba37b9e0a,1.0,NaN,NaN
1889,f000950527a6feb6de489447885cd6d18f593ec2674174ac,40.0,NaN,NaN

In [13]:
other_fea = other_info