In [1]:
import pandas as pd

In [2]:
tax_info = pd.read_csv("./train/tax_info.csv")

In [3]:
# 去除（29195 - 24614）条重复数据
tax_info = tax_info.drop_duplicates()

In [4]:
# 基本信息
base_info = pd.read_csv("./train/base_info.csv")

# id + 标签
entprise_info = pd.read_csv("./train/entprise_info.csv")

# id + 标签(Null) 
result = pd.read_csv("./entprise_evaluate.csv")

In [5]:
temp = pd.concat([entprise_info,result], ignore_index=True)

In [6]:
# 将base_info和label进行连接，label为空的是测试集
data = pd.merge(temp, base_info, on="id", how="left")

In [7]:
# 提取tax表格中的id
tax_feature = tax_info.id.drop_duplicates().reset_index(drop=True)
# 将提取出来的id转换成dataframe
tax_feature = pd.DataFrame(tax_feature)
# 将有id的部分赋值为1
tax_feature["is_tax_exist"] = 1
# # 连接上其余特征
# data = pd.merge(data, tax_feature, on="id", how="left")
# # 将没有tax信息的id填充为0
# data["is_tax_exist"].fillna(0,inplace=True)

In [8]:
tax_feature

                                                   id  is_tax_exist
0    f000950527a6feb6c2f40c9d8477e73a439dfa0897830397             1
1    d8071a739aa75a3b9f23966f8dae78fd226c272515b9c255             1
2    d8071a739aa75a3b8beaa7f2ea3a364a1bf8faefec72f871             1
3    f000950527a6feb6207093f8cac7a11cc2abd1763a264757             1
4    f000950527a6feb6f97af739bb95531db891a11df80bdb8b             1
..                                                ...           ...
803  47645761dc56bb8cf147c0f51d60cfe28fd995aaca7693d9             1
804  f000950527a6feb6bd25a1d6ac6f6463fa2d6e21e0d2861b             1
805  d8071a739aa75a3b6860158ec0cc8ba7972fb14ba37b9e0a             1
806  f000950527a6feb6cb8976eb56233ede461cb23103f85f32             1
807  d8071a739aa75a3bbb9e08ebd134ae1289f194b70cac0e95             1

[808 rows x 2 columns]